@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  @apply placeholder:text-gray-400;
}

.equo-gradient {
  @apply bg-gradient-to-tr from-[#5473f3] via-[#d38cb7] to-[#f4a45e] hover:from-[#405cda] hover:via-[#bb73a3]  hover:to-[#e38d45]  transition-all duration-300 text-white;
}
