# Node modules und Logs
node_modules
npm-debug.log
yarn-error.log

# Build-Output (wird im Container erzeugt)
dist
*.tsbuildinfo

# IDE / Editor Dateien
.vscode
.idea

# OS-Dateien
.DS_Store
Thumbs.db

# Environment-Dateien (wenn nicht gewünscht)
.env.local
.env.development
.env.test
.env.*
